@use 'sass:color';

// COLORS
$black: #1E1E1E;
$error: #FF2D2D;
$gray-100: #F5F5F5;
$gray-300: #C4C4C4;
$gray-700: #4E4E4E;
$warning: #F07B07;
$white: #FFFFFF;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-500: #7a2b8c;
$secondary-500: #f38b43;

// Entities colors
$opportunities-500: rgb(4, 4, 231);
$events-500: #692579;
$agents-500: #ee203e;
$projects-500: #ed0f92;
$spaces-500: #f39c1e;

$seals-500: #1E1E1E;

// Feedback colors
$danger-500: #EF1010;
$success-500: #498200;
$warning-500: #FF9F1C;
$helper-500: #0074C1;

// home
$home-opportunities: #007B2B;
$home-feature: #75C8FF;
$home-register: #002842;

// // Neutral colors
// $low-500: #1E1E1E;
// $high-500: #FFFFFF;

// // FONTS
// $font-body: 'Open Sans', sans-serif;
// $font-headings: 'Open Sans', sans-serif;

// // Borders radius
// $border-radius-xs: 4px;
// $border-radius-sm: 8px;
// $border-radius-pill: 64px;

// // Borders
// $border-hairline: 1px solid;
// $border-solid: 2px solid;

// // Shadows
// $shadow-lv-1: 0px 4px 8px rgba(0, 0, 0, 0.16);
// $shadow-lv-2: 0px 8px 16px rgba(0, 0, 0, 0.16);
// $shadow-lv-3: 0px 8px 24px rgba(0, 0, 0, 0.16);
// $shadow-lv-4: 0px 16px 48px rgba(0, 0, 0, 0.16);
// $shadow-lv-1-up: 0px -4px 8px rgba(0, 0, 0, 0.16);

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';


.lgpd-document {
    border-bottom: 1px solid $black;
    margin-bottom: 1em;
    

    h2 {
        margin-bottom: 0.8em;
        text-align: center;
    }

    &:last-of-type {
        border-bottom:0;
    }
}

.lgpd-date {
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;

    text-align: center;
}

.lgpd-creditos {
    font-weight: bold;
}


.mc-header-logo {
    width: 146.14px;
}

.home-developers {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;

    &__background {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        left: 0;

    }
    
    &__background-img {
        width: 100%;
        object-fit: cover;
    }

    &__background-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color:rgba(102, 102, 102, 0.85);
    }

    &__content {
        z-index: 1;
    }

    nav.sidebar-panel ul a.active {
        background: #fff;
        border-left-color: #1c5690;
    }
    nav.sidebar-panel ul a {
        display: block;
        padding: 0.65rem;
        border-left: #ccc 6px solid;
        transition: all .3s;
    }
    .align-button {
        display: flex ;
        gap: 30px;
    }
    .align-button button.accept{
        background-color: #66cc66 !important;
        border: 1px solid #66cc66;
    }
    .align-button button.refuse{
        background-color: #cc3333 !important;
        border: 1px solid #cc3333;
    }
    ol[type="1"] {
        counter-reset: item;
    }
    
    ol[type="1"]>li {
        display: block;
        margin: 10px 10px 0;
    }
    
    ol[type="1"]>li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }
    
    ol[type="a"]>li:before {
        content: counter(item, lower-alpha) ") ";
        counter-increment: item;
        margin-right: 0.5em;
    }
    
    ol[type="A"]>li:before {
        content: counter(item, upper-alpha) ") ";
        counter-increment: item;
        margin-right: 0.5em;
    }
    
    ol.nivel1>li {
        font-weight: bold;
    }
    ol.nivel1 ol>li {
        font-weight: normal;
    }
    ol[type="1"] {
        counter-reset: item;
    }
    
    ol[type="1"]>li {
        display: block;
    }
    
    ol[type="1"]>li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
    }
    
    ol[type="o"]>li:before {
        list-style-type: circle;
    }
    
    ol.nivel1 ol>li {
        font-weight: normal;
    }
}